@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap");

.app {
  max-width: 800px;
  margin: 10vh auto 0 auto;
  padding: 20px;
}

html::-webkit-scrollbar {
  width: 0px;
}

.branding {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #1ab3e6;
}

.branding span {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
}

.textarea-container {
  --background-color: var(--form-element-background-color);
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);
  --box-shadow: none;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition), box-shadow var(--transition);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.body-textarea {
  border: none;
  resize: none;
  width: 100%;
  padding: 0;
}
.blue-highlight {
  background-color: #11556b !important;
}
.darker-highlight {
  background-color: #524d12 !important;
}
.card {
  margin: 0 auto;
}
.subject-header {
  margin-bottom: 30px;
}
.form {
  margin: 0 auto;
}
.subject-indicator {
  background-color: #1ab3e663 !important;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.footer {
  padding-block: 30px;
  text-align: center;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
}
